h1{
    font-size: 30px;
    text-align: center;
    color: #6B705C;
    font-family: "Roboto", Helvetica, sans-serif;
    }

h2{
    font-size: 25px;
    text-align: left;
    color: #A5A58D;
    font-family: "Roboto", Helvetica, sans-serif;
    }
    
    p{
    font-size: 20px;
    text-align: justify;
    font-family: "Roboto", Helvetica, sans-serif;
    }
    
    body {
    background-color: #FFE8D6;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }